<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>My Pantry</title>
</head>

<body>
  <%- include('../partials/_navbar.ejs') %>

    <h1>Welcome to my Pantry</h1>
    <a href="/users/<%= user._id %>/foods/new">New Pantry Item</a>
    <% pantry.forEach(item=> { %>
      <div>
        <a href="/users/<%= user._id %>/foods/<%= item._id %>">
          <%= item.name %>
        </a>
      </div>
      <% }) %>

</body>

</html>